target-version = "py311"
line-length = 100

select = [
    "E",
    "W",
    "F",
    "I",
    "B",
    "C4",
    "UP",
]

ignore = [
    "E501",
    "B008",
    "C901",
]

# Настройки isort
[isort]
known-first-party = ["app"]

# Настройки форматирования
[format]
quote-style = "double"
indent-style = "space"